* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


body {
    background-color: white;
}

    main {
        float: left;
        width: 50%;
        margin-left: 10%;
        margin-top: 70px;;

    }

        h1 {
            color: #951C22;
            font-size: 120px;

        }

        div {
            background-color: #DDD9BD;
            width: 100%;
            border-radius: 50px;
            height: 70px;

        }

            h2 {

            }

            h3 {
                color: #951C22;

            }

        p {
            margin-left: 20px;

        }

        ul {
            margin-left: 60px;
        }

            li {

            }

        p {

        }

    img {
        float: left;
        width: 30%;
        margin-right: 10%;
        margin-top: 70px;
        
    }

    a {
        text-decoration: none;
        color: #951C22;
    }