* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 14px;
    line-height: 1em;
}

a {
    text-decoration: none;
    color: #951C22;
    font-weight: bold;
}

body {
    background-color: #F5F1D6 ;
}

    body > div {
        width: 600px;
        margin-left: calc( (100% - 600px) / 2);
        margin-top: 70px;
        display: inline-block;
    }

    main {
        float: left;
        width: 400px;
    }

        h1 {
            display: inline-block;
            color: #951C22;
            font-size: 120px;
            margin-left: 35px;
            font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        }

        main > div {
            display: inline-block;
            background-color: #E4E0C7;
            width: 100%;
            border-radius: 35px;
            height: 70px;
        }

            div > h2 {
                display: inline-block;
                font-size: 32px;
                margin-top: 9px;
                margin-left: 35px;
                width: 100%;
                font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
            }

           div > h3 {
                display: inline-block;
                color: #951C22;
                font-size: 20px;
                margin-left: 35px;
            }

        p {
            display: inline-block;
            padding: 15px 35px;
            width: 100%;
        }

        ul {
            margin-left: 85px;
            display: inline-block;
        }

            li {
                color:  #951C22;
            }

    img {
        transform: scaleX(-1);
        float: left;
        width: 250px;
        margin-left: -50px;
        margin-top: -35px;
        z-index: 2;
    }
